[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/zsh-manydots-magic"]
	path = zsh/plugins/zsh-manydots-magic
	url = https://github.com/knu/zsh-manydots-magic
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
